#!/usr/bin/zsh

# quickly change directories
alias ~='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias -- -='cd -' # go back to the previous directory

alias temp='cd ~/Temporary'
alias dot='cd ~/dotfiles'

# git
alias ga='git add'
alias gaa='git add --all'
alias gb='git branch'
alias gs='git status'
alias gp='git push'
alias gl='git pull'
alias gc='git commit'

# systemd
alias start="sudo systemctl start "
alias stop="sudo systemctl stop "
alias status="sudo systemctl status "
alias running-services="sudo systemctl --state=running --type=service"

# misc
alias grep='grep --color=auto --line-number'
alias ls='exa --all'
alias l='exa --all --long'

alias vim='nvim'
alias cat='bat'
alias h='history'
alias sz="source ~/.zshrc"

alias path='echo -e ${PATH//:/\\n}' # print each PATH entry on a separate line
alias mem='free -h'
alias disk='df -h'
alias dvorak='setxkbmap -layout dvorak -option caps:swapescape'
alias qwerty='setxkbmap us'
alias pj='vim package.json'

# temporary
