#!/bin/bash

# easy navigation
alias ~="cd ~" 
alias ..="cd .."
alias ...="cd ../.."

alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

alias p="cd ~/projects"
alias prod="cd ~/projects/prod"
alias dev="cd ~/projects/dev"
alias temp="cd ~/projects/temp"

alias c="code ."