# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Quickly cd into directories
function cdd() {
  local selected=$(
    fd . "$HOME/work" \
      --hidden \
      --type d \
      --exclude .git \
      --exclude node_modules \
      --exclude .expo \
      --exclude .agents \
      --exclude .claude \
      --exclude build \
      --exclude dist \
      --exclude coverage \
      --exclude Pods \
      --exclude .gradle \
      --exclude .next |
    sed "s|^$HOME/work/||" |
    fzf --height 40% --reverse
  )

  [[ -z "$selected" ]] && return

  cd "$HOME/work/$selected"
}

# Quickly open config files with vim
function conf() {
  local selected=$(
    {
      fd . "$HOME" \
        --hidden \
        --max-depth 1 \
        --type f \
        --type l \
        --exclude .DS_Store

      fd . "$HOME/.config" \
        --hidden \
        --follow \
        --type f \
        --exclude .DS_Store
    } |
    fzf --height 40% --reverse
  )

  [[ -z "$selected" ]] && return

  vim "$selected"
}

# Open files with vim from pwd
function open_file() {
  local selected=$(
    fd . \
      --hidden \
      --type f \
      --exclude .git \
      --exclude .DS_Store \
      --exclude node_modules \
      --exclude .expo \
      --exclude build \
      --exclude dist \
      --exclude coverage \
      --exclude Pods \
      --exclude .gradle |
    fzf --height 40% --reverse
  )

  [[ -z "$selected" ]] && return

  vim "$selected"
}
