[user]
    name = Amit Eshore
    email = amiteshore@gmail.com

[init]
    defaultBranch = main

[core]
    editor = vim
    excludesfile = ~/.gitignore

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[diff]
    algorithm = histogram
