#!/bin/bash

# directory
alias ~='cd ~'
alias h='cd ~'
alias ..='cd ..'
alias ...='cd ../..'

# most visited directories
alias p='cd ~/projects'
alias temp='cd ~/projects/temp'
alias dev='cd ~/projects/dev'
alias dl='cd ~/Downloads'

# config files
alias al='vim ~/.aliases'
alias bp='vim ~/.profile'
alias b='vim ~/.bashrc'
alias v='vim ~/.vimrc'
alias z='vim ~/.zshrc'

# package related
alias u='sudo apt update && sudo apt upgrade --yes && sudo apt autoremove --yes'
alias update='sudo apt update'
alias upgrade='sudo apt upgrade --yes'
alias autoremove='sudo apt autoremove --yes'
alias install='sudo apt install'
alias purge='sudo apt purge'

# apps
alias code='code .'
alias python='python3'

# misc
alias c='clear'
alias path='echo -e ${PATH//:/\\n}'
alias mkdir='mkdir -p'
alias l='ls -A'