#!/bin/bash

# Directory
alias ~='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# Most visited directories
alias p='cd ~/projects'
alias temp='cd ~/projects/temp'
alias dev='cd ~/projects/dev'
alias prod='cd ~/projects/prod'
alias dtf='cd ~/dotfiles'

alias dl='cd ~/Downloads'
alias docs='cd ~/Documents'
alias pics='cd ~/Pictures'

# Config files
alias al='vim ~/.aliases'
alias b='vim ~/.bashrc'
alias bp='vim ~/.bash_profile'
alias v='vim ~/.vimrc'
alias z='vim ~/.zshrc'

# Package related
alias u='sudo apt update && sudo apt upgrade --yes && sudo apt autoremove --yes'
alias update='sudo apt update'
alias upgrade='sudo apt upgrade --yes'
alias autoremove='sudo apt autoremove --yes'
alias install='sudo apt install'
alias purge='sudo apt purge'

# Apps
alias code='code .'
alias python='python3'
alias chrome='google-chrome'
alias files='nautilus'
alias h='history'

# Misc
alias c='clear'
alias path='echo -e ${PATH//:/\\n}'
alias mkdir='mkdir -p'